
body{
    margin: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100 auto auto 100;
}

header{
    background-color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 5;
}

.nestedheader{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

.nestedheader > img{
    height: 100%;
    margin-left: 110px;
}

.interface{
    border-top: 1px inset rgba(255, 255, 255, 0.112);
    padding: 20px;
}

.linklist{
    display: grid;
    grid-template-columns: 110px 90px 150px 110px;
    grid-template-rows: auto;
    margin-left: 115px;
}

.linklist > a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.553);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.banner{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end: 3;
    background: white;
}

.banner > img{
    width:100%;
}

main{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:3;
    grid-row-end: 4;
    background: white;
}

.nested{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    
    column-gap: 20px;
    row-gap: 5px;
    padding-left: 120px;
    padding-right: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nested > a img {
    width: 100%;
}

aside{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 4;
    background-color: white;

}

aside > img {
    width: 100%;
    padding-top: 73px;
    background-color: white;
    
}

footer{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
}

.bottominterface {
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px inset rgba(255, 255, 255, 0.112);
}

.bottominterface > div > h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-left: 185px;
}

.bottominterface > div > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.553);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.bottominterface > div > a > p{
    margin-left: 185px;
}

.paymentmethod {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.paymentmethod > img {
    height: 100%;
    margin-left: 58%;
}