
body{
    margin: 0;
    height: 100vh;
    background-color: rgb(103, 117, 0);
}
.container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100px auto 100 px;
}

header{
    background-color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 5;
}

main{
    grid-column-start: 2;
    grid-column-end: 5;
}

.nested{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2,1fr);
    margin: 10px;
    gap: 10px;
}

aside{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 3;
}

footer{
    background-color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 5;
}
